Gianmarco Lab/ExamJune/client/src/wsdl/localhost_8080/ProfessorInterface.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://professorws.softeng.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://professorws.softeng.com/">

<xs:element name="getDetails" type="tns:getDetails"></xs:element>

<xs:element name="getDetailsResponse" type="tns:getDetailsResponse"></xs:element>

<xs:complexType name="getDetails">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:professor" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="professor">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>