LAB/Labs/Gianmarco Lab/ExamJuly/client/src/wsdl/localhost_8080/MoviesInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://moviesws.softeng.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://moviesws.softeng.com/" name="MoviesWSImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://moviesws.softeng.com/" schemaLocation="http://localhost:8080/MoviesInterface?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllMovies">
<part name="parameters" element="tns:getAllMovies"></part>
</message>
<message name="getAllMoviesResponse">
<part name="parameters" element="tns:getAllMoviesResponse"></part>
</message>
<message name="getAllDirectors">
<part name="parameters" element="tns:getAllDirectors"></part>
</message>
<message name="getAllDirectorsResponse">
<part name="parameters" element="tns:getAllDirectorsResponse"></part>
</message>
<message name="getMovie">
<part name="parameters" element="tns:getMovie"></part>
</message>
<message name="getMovieResponse">
<part name="parameters" element="tns:getMovieResponse"></part>
</message>
<message name="getDirector">
<part name="parameters" element="tns:getDirector"></part>
</message>
<message name="getDirectorResponse">
<part name="parameters" element="tns:getDirectorResponse"></part>
</message>
<portType name="MoviesWSInterface">
<operation name="getAllMovies">
<input wsam:Action="http://moviesws.softeng.com/MoviesWSInterface/getAllMoviesRequest" message="tns:getAllMovies"></input>
<output wsam:Action="http://moviesws.softeng.com/MoviesWSInterface/getAllMoviesResponse" message="tns:getAllMoviesResponse"></output>
</operation>
<operation name="getAllDirectors">
<input wsam:Action="http://moviesws.softeng.com/MoviesWSInterface/getAllDirectorsRequest" message="tns:getAllDirectors"></input>
<output wsam:Action="http://moviesws.softeng.com/MoviesWSInterface/getAllDirectorsResponse" message="tns:getAllDirectorsResponse"></output>
</operation>
<operation name="getMovie">
<input wsam:Action="http://moviesws.softeng.com/MoviesWSInterface/getMovieRequest" message="tns:getMovie"></input>
<output wsam:Action="http://moviesws.softeng.com/MoviesWSInterface/getMovieResponse" message="tns:getMovieResponse"></output>
</operation>
<operation name="getDirector">
<input wsam:Action="http://moviesws.softeng.com/MoviesWSInterface/getDirectorRequest" message="tns:getDirector"></input>
<output wsam:Action="http://moviesws.softeng.com/MoviesWSInterface/getDirectorResponse" message="tns:getDirectorResponse"></output>
</operation>
</portType>
<binding name="MoviesWSImplPortBinding" type="tns:MoviesWSInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllMovies">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllDirectors">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMovie">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDirector">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="MoviesWSImplService">
<port name="MoviesWSImplPort" binding="tns:MoviesWSImplPortBinding">
<soap:address location="http://localhost:8080/MoviesInterface"></soap:address>
</port>
</service>
</definitions>